package main

templ login() {
	@basehtmx("Login to Maple Culvert Tracker") {
		<style>
			.login-center {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
		<div class="login-center">
			<div class="">
				Login token: 
				<input
					type="text"
				/>
			</div>
		</div>
	}
}
