name: Release

on:
  push:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository_id }}-publish-docker

env:
  CR_HOST: ghcr.io
  CR_OWNER: slazurin
  IMAGE_NAME_PREFIX: ghcr.io/slazurin/maple-culvert-tracker

jobs:
  publish-services:
    uses: ./.github/workflows/build-service.yml
    strategy:
      matrix:
        service: &services
          - name: bot
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "final-with-server-assets"
            buildArgs: "APPNAME=main"
          - name: "chartmaker"
            dockerfile: "chartmaker/Dockerfile"
            context: "."
            target: "runner"
            buildArgs: ""
          - name: "web"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "culvert-web-final"
            buildArgs: "APPNAME=staticserve"
          - name: "periodicredis"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "final"
            buildArgs: "APPNAME=periodicredis"
          - name: "cron"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "cron"
            buildArgs: "APPNAME=auto_backup"
          - name: "autofill_characters"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "final"
            buildArgs: "APPNAME=autofill_characters"
    permissions:
      contents: read
      packages: write
    secrets: inherit
    with:
      service-name: ${{ matrix.service.name }}
      service-dockerfile: ${{ matrix.service.dockerfile }}
      service-context: ${{ matrix.service.context }}
      service-target: ${{ matrix.service.target }}
      service-build-args: ${{ matrix.service.buildArgs }}
  promote-stable:
    name: Promote Stable - ${{ matrix.service.name }}
    permissions:
      contents: read
      packages: write
    environment: promote-stable
    runs-on: ubuntu-latest
    needs:
      - publish-services
    strategy:
      matrix:
        service: *services
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.CR_HOST }}
          username: ${{ env.CR_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          docker buildx imagetools create \
            -t "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}:latest" \
            "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}:${{ github.sha }}"
