name: Release

on:
  push:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository_id }}-publish-docker

env:
  CR_HOST: ghcr.io
  CR_OWNER: slazurin
  IMAGE_NAME_PREFIX: ghcr.io/slazurin/maple-culvert-tracker

jobs:
  validate-services:
    name: Validate Services List
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      build-services: ${{ steps.set-services-list.outputs.build-services }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          sparse-checkout: |
            workflow-build-services.json
            actions/validate-build-services/dist
            actions/validate-build-services/action.yml
      - id: set-services-list
        uses: ./actions/validate-build-services
  publish-services:
    uses: ./.github/workflows/build-service.yml
    strategy:
      matrix:
        service:
          ${{ fromJson(needs.validate-services.outputs.build-services) }}
    permissions:
      contents: read
      packages: write
    needs:
      - validate-services
    secrets: inherit
    with:
      service-name: ${{ matrix.service.name }}
      service-dockerfile: ${{ matrix.service.dockerfile }}
      service-context: ${{ matrix.service.context }}
      service-target: ${{ matrix.service.target }}
      service-build-args: ${{ matrix.service.buildArgs }}
  promote-stable:
    name: Promote Stable - ${{ matrix.service.name }}
    permissions:
      contents: read
      packages: write
    environment: promote-stable
    runs-on: ubuntu-latest
    needs:
      - publish-services
      - validate-services
    strategy:
      matrix:
        service: ${{ fromJson(needs.validate-services.outputs.build-services) }}
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.CR_HOST }}
          username: ${{ env.CR_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          docker buildx imagetools create \
            -t "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}:latest" \
            "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}:${{ github.sha }}"
            
