name: Publish Docker

on:
  push:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository_id }}-publish-docker

env:
  CR_HOST: ghcr.io
  CR_OWNER: azuridayo
  IMAGE_NAME_PREFIX: ghcr.io/azuridayo/maple-culvert-tracker

jobs:
  validate-services:
    name: Validate Services List
    runs-on: ubuntu-latest
    outputs:
      build-services: ${{ steps.set-services-list.outputs.build-services }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          sparse-checkout: |
            workflow-build-services.json
            actions/validate-build-services/dist
            actions/validate-build-services/action.yml
      - id: set-services-list
        uses: ./actions/validate-build-services
  publish:
    name: Publish Docker - ${{ matrix.service.name }} ${{ matrix.platform.manifest-name }}
    runs-on: ${{ matrix.platform.runner }}
    permissions:
      contents: read
      packages: write
    needs:
      - validate-services
    strategy:
      matrix:
        service:
          ${{ fromJson(needs.validate-services.outputs.build-services) }}
          # Dont forget to make sure this array is identical to what is promoted to stable!
        platform:
          - name: linux/amd64
            runner: ubuntu-latest
            manifest-name: x64
          - name: linux/arm64
            runner: ubuntu-24.04-arm
            manifest-name: arm64
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cp .env.template .env
      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          tags: ${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}
          platforms: ${{ matrix.platform.name }}
          outputs: type=image,push-by-digest=true,push=true
          file: ${{ matrix.service.dockerfile }}
          context: ${{ matrix.service.context }}
          target: ${{ matrix.service.target }}
          build-args: ${{ matrix.service.buildArgs }}
      - name: Write image sha to output
        id: write-image-sha
        run: |
          echo "${{ steps.build.outputs.digest }}"
          echo "${{ matrix.service.name }}_${{ matrix.platform.manifest-name }}_sha=${{ steps.build.outputs.digest }}" >> "$GITHUB_OUTPUT"
  promote-stable:
    name: Promote Stable - ${{ matrix.service.name }}
    if: github.event_name == 'push' && github.ref_name == 'master'
    permissions:
      contents: read
      packages: write
    environment: promote-stable
    runs-on: ubuntu-latest
    needs:
      - publish
      - validate-services
    strategy:
      matrix:
        service: ${{ fromJson(needs.validate-services.outputs.build-services) }}
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.CR_HOST }}
          username: ${{ env.CR_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          set -x
          docker buildx imagetools create -t "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}:latest" \
            "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}@${{ needs.publish.outputs[format('{0}_x64_sha', matrix.service.name)] }}" \
            "${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }}@${{ needs.publish.outputs[format('{0}_arm64_sha', matrix.service.name)] }}"
