name: Publish Docker

on:
  push:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository_id }}-publish-docker

jobs:
  publish:
    permissions:
      contents: read
      packages: write
    name: Publish Docker
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [
            bot,
            web,
            chartmaker,
            periodicredis,
            autofill_characters,
            cron,
          ] # Dont forget to make sure this array is identical to what is promoted to stable!
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cp .env.template .env
          docker compose -f base.yml -f docker-compose-autofill_characters.yml build --pull "${{matrix.service}}"

          docker image tag maple-culvert-tracker-${{matrix.service}} ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}:${{github.sha}}
          docker image tag maple-culvert-tracker-${{matrix.service}} ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}:HEAD
          docker image rm maple-culvert-tracker-${{matrix.service}}:latest
      - run: |
          docker push -a ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}
  promote-stable:
    if: github.event_name == 'push' && github.ref_name == 'master'
    permissions:
      contents: read
      packages: write
    environment: promote-stable
    runs-on: ubuntu-latest
    needs: publish
    strategy:
      matrix:
        service: [
            bot,
            web,
            chartmaker,
            periodicredis,
            autofill_characters,
            cron,
          ] # Dont forget to make sure this array is identical to the above!
    steps:
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          docker image pull ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}:${{github.sha}}
          docker image tag ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}:${{github.sha}} ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}:latest
          docker push ghcr.io/slazurin/maple-culvert-tracker/${{matrix.service}}:latest
