name: Test build Docker

on:
  pull_request:
    branches: [master, staging]

jobs:
  go-test:
    name: Go test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: |
          go test -v ./{cmd,internal}/...
  test-build:
    permissions:
      contents: read
    name: Test build docker
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          [bot, web, chartmaker, periodicredis, autofill_characters, cron]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.sha }}
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - run: |
          cp .env.template .env
          docker compose -f base.yml -f docker-compose-autofill_characters.yml build --pull "${{matrix.service}}"
