name: Test build Docker

on:
  pull_request:
    branches: [master]

env:
  CR_HOST: ghcr.io
  CR_OWNER: slazurin
  IMAGE_NAME_PREFIX: ghcr.io/slazurin/maple-culvert-tracker

jobs:
  go-test:
    name: Go test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: "go.mod"
      - name: Run tests
        run: |
          go test -v ./{cmd,internal}/...
  test-build:
    name: "Test build image: ${{ matrix.service.name }} - ${{ matrix.platform.manifest-name }}"
    permissions:
      contents: read
    strategy:
      matrix:
        service: &services
          - name: bot
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "final-with-server-assets"
            buildArgs: "APPNAME=main"
          - name: "chartmaker"
            dockerfile: "chartmaker/Dockerfile"
            context: "."
            target: "runner"
            buildArgs: ""
          - name: "web"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "culvert-web-final"
            buildArgs: "APPNAME=staticserve"
          - name: "periodicredis"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "final"
            buildArgs: "APPNAME=periodicredis"
          - name: "cron"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "cron"
            buildArgs: "APPNAME=auto_backup"
          - name: "autofill_characters"
            dockerfile: "Dockerfile.goapps"
            context: "."
            target: "final"
            buildArgs: "APPNAME=autofill_characters"
        platform:
          - name: linux/amd64
            runner: ubuntu-latest
            manifest-name: x64
          - name: linux/arm64
            runner: ubuntu-24.04-arm
            manifest-name: arm64
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          tags: ${{ env.IMAGE_NAME_PREFIX }}/${{ matrix.service.name }} # tags here doesn't matter as we won't push
          platforms: ${{ matrix.platform.name }}
          file: ${{ matrix.service.dockerfile }}
          context: ${{ matrix.service.context }}
          target: ${{ matrix.service.target }}
          build-args: ${{ matrix.service.buildArgs }}
          push: false
          cache-from: type=gha
