name: Test build Docker

on:
  pull_request:
    branches: [master]

jobs:
  go-test:
    name: Go test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: |
          go test -v ./{cmd,internal}/...
  validate-services-for-test-build:
    name: Validate Services List
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      build-services: ${{ steps.set-services-list.outputs.build-services }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          sparse-checkout: |
            workflow-build-services.json
            actions/validate-build-services/dist
            actions/validate-build-services/action.yml
      - id: set-services-list
        uses: ./actions/validate-build-services
  test-build:
    name: "Test build image: ${{ matrix.service.name }} - ${{ matrix.platform.manifest-name }}"
    needs:
      - validate-services-for-test-build
    permissions:
      contents: read
    strategy:
      matrix:
        service:
          ${{ fromJson(needs.validate-services-for-test-build.outputs.build-services) }}
        platform:
          - name: linux/amd64
            runner: ubuntu-latest
            manifest-name: x64
          - name: linux/arm64
            runner: ubuntu-24.04-arm
            manifest-name: arm64
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          tags: ghcr.io/slazurin/maple-culvert-tracker/${{ matrix.service.name }} # tags here doesn't matter as we won't push
          platforms: ${{ matrix.platform.name }}
          file: ${{ matrix.service.dockerfile }}
          context: ${{ matrix.service.context }}
          target: ${{ matrix.service.target }}
          build-args: ${{ matrix.service.buildArgs }}
          push: false
          cache-from: type=gha
