name: Test build Docker

on:
  pull_request:
    branches: [master]

jobs:
  go-test:
    name: Go test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: |
          go test -v ./{cmd,internal}/...
  validate-services-for-test-build:
    name: Validate Services List
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      build-services: ${{ steps.set-services-list.outputs.build-services }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          sparse-checkout: |
            workflow-build-services.json
            actions/validate-build-services/dist
            actions/validate-build-services/action.yml
      - id: set-services-list
        uses: ./actions/validate-build-services
  test-build:
    name: Test build image - ${{ matrix.service.name }}
    needs:
      - validate-services-for-test-build
    permissions:
      contents: read
    strategy:
      matrix:
        service:
          ${{ fromJson(needs.validate-services-for-test-build.outputs.build-services) }}
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: ${{ matrix.service.name }}
      service-dockerfile: ${{ matrix.service.dockerfile }}
      service-context: ${{ matrix.service.context }}
      service-target: ${{ matrix.service.target }}
      service-build-args: ${{ matrix.service.build-args }}
      publish: false
